* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --light-background: #faf9f5;
  --primary-color: #1b2e9e;
  --secondary-color: #c5c5c4;
  --third-color: #252525;
  --fourth-color: #000435;
  --danger-color: #E53935;
  --success-color: #4BB543;
  --lighter-background: #FF7043;
  --warning-color: #ffcc00;
  --pending-color: #F29339;
  --link-color: #0000EE;
  --max-login-width: 1100px;
  --max-page-width: 1200px;
  --light-gray-background: #F5F5F5;
  --dark-theme-background: #262624; /* #121418; */ /* #1e1e1e; */ /* #15202B */
  --sidebar-color-dark: #1f1e1d;
  --sidebar-color: #f5f4ed;
  --card-color: #191B1F;
  --code-editor-background: #1E1E1E;
  --dark-mode-bg-alt: #262624;
}

body {
  font-family: 'Poppins', 'Segoe UI', sans-serif;
  background-color: var(--light-background);
}